body,html{
    height:100%;
}


body{
    background-color:#004D85;
	font-family:Arial, Helvetica, sans-serif;
}

#header{
    width:80%;
    height:25%;
    margin:auto;
    background-color:white;
    border:none;
}

#header .pull-right{
    position:relative;
    top:10px;
    right:0px;
}

/*.pull-right button{
    float:right;
}*/


.form-control {
    padding-right: 30px;
}

.form-control + .glyphicon {
    position: absolute;
    right: 0;
    padding: 8px 27px;
}


#nav{
    height:35px;
    background-color:#337ab7;
    width:80%;
    margin:auto;
}

#nav ul{
    font-family: 'Ubuntu', arial,serif;
    font-size:16px;
    position:relative;
    list-style-type: none;
    z-index:597px;
    float-left;
    /*display:inline-block;*/
}

#nav ul li{
    display:inline;
    list-style:none;
    margin:0;
    padding:20px;
	line-height:2.1em;
    vertical-align: middle;
    zoom:1;
}

#nav ul li a{
    text-decoration:none;
}

#car{
    width:82%;
    margin:auto;
}


#subnav{
  width:80%;
  margin:auto;
  background-color:#337ab7;
  border:none;
}

#subnav ul li a{
    color:#FFF;
	padding-right:60px;
	font-size:20px;
}

#gridmodule{
  width:80%;
  margin:auto;
  border:1px solid black;
}

/* grid module div */

.marTop10{
	/*margin-top:10px;*/
	width:82%;
  margin:auto;
  padding-top:10px;
}
.panel{
	
	margin-bottom:5px !important;
	
	
}
.minHeight50{
	min-height:50px;
}
.panel-sky{
	border: 1px solid #d9edf7;
}
.panelHead-sky{
	background-color:#d9edf7;
	border: 1px solid #d9edf7;
	min-height:75px;
	cursor:pointer;
}

.imageSpace{
	height: 65px;
	width : 65px;
	border: 1px solid dodgerblue;
	border-radius:10px;
	margin-right : 5px;
	margin-top:-5px;
	padding:0px;
}
.userDetailSpace,.spouseDetailSpace,.childrenDetailSpace,.familygallerySpace{
	margin:0px;
	padding:0px;
}
.carouselSpace{
	
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  
  /*events*/
  
  #events{
	  width:80%;
	  margin:auto;
	  
	  
	  
	  
	  
	  
  }
  
  #eventimage1{
    width:75%;
    height:50%;
    margin:auto;    
    border:none;
	padding:5px;
	
}

#row{
	
	padding:opx;
}
 #eventimage1 .pull-right{
    position:relative;
    top:10px;
    right:0px; 
} 


#eventshead{
	
	background-color:#fff;
	
}

#eventslist{
	
	padding:10px;
	/*border-left:1px solid;
	border-bottom:1px solid;
	border-top:1px solid;
	border-right:1px solid;
	
  border-color:black;*/
	
}

#gallery{
	padding:4px;
	
}

#galleryimages{
	
	padding:6px;
	
	
}
#rowgallery{
	
	
}
 /* div.row { 
  border: 1px solid;
  border-color:black;
  border-top:2px;
} */

.container span.events-list-date{
	
	color:#999;
	margin:0px;
	padding:0px;
	
}
.container h4  a{
	color:#004A81;
	
}
.container p{
	
	font-size:14px;
	margin:0px;
	padding:0px;
}
 
#footer{
	
	background-color:#2f2f2f;
	width:80%;
	margin:auto;
	padding-top:40px;
	color:white;
	padding-bottom:10px;
	margin-bottom:10px;
	
	
} 
#footer .footer_nav{
	float:left;
	padding:20px;
	
}

#footer .footer_nav a{

	padding:15px;
	
}



#footer .footer_navbar{
	float:right;
	padding:10px;
	
}

/*gallery css */


#gallery{
	
	width:80%;
	marign:auto;
	color:black;
	font-size:40px;
	text-align:center;
	background-color:#fff;
	padding-bottom:20px;
	
}

#imagevideo{
	
	font-size:20px;
	text-align:center;
	
}


/*gallery css */
  
  #footer{
	
	background-color:#2f2f2f;
	width:80%;
	margin:auto;
	color:white;
	padding-bottom:40px;
	margin-bottom:10px;
	
	
} 
#footer .footer_nav{
	float:left;
	padding:15px;
	
}

#footer .footer_nav a{

	padding:10px;
	color:#fff;
}



#footer .footer_navbar{
	float:right;
	padding:10px;
	
	
}

  #jumbo{
	  
	  height:35px;
	  text-align:center;
  }
  
#jumbo p{
	
	text-align:center;
	font-size:30px;
}  
  
 
  